
    <%- include("partials/header")-%>
    <section class="hero" id="hero">
        <div class="container">
            <h2 class="sub-headline">
                <span class="first-letter">H</span>elping
            </h2>
            <h1 class="headline-main">Hands</h1>
            <div class="headline-description">
                <div class="seperator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-right"></div>
                </div>
                <div class="single-animation">
                    <h5>Let's learn together</h5>
                    <h6>~ 2022 ~</h6>
                </div>
            </div>
        </div>
    </section>
    <!--Hero ends-->
    <div class="parallax">
    <div id="topic-wrapper">
      
    <!--row1-->
    <div class="container-fluid" id="topics">
    <div class="row  justify-content-around">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/maths">
          <div class="card-header" style="background-image: url('img/engineering-mathematics-2.png'); background-size: 100%;">
            <div class="overlay">
            <div class="name">Engineering Mathematics I</div>
          </div>
          </div>
        </a>
        </div>
      </div>
    <!--2nd box-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="profile-card">
        <a href="/communicativeenglish">
        <div class="card-header"  style="background-image: url('img/english.png'); background-size: 100%;">
          <div class="overlay">
          <div class="name">Communicative English</div>
        </div>
        </div>
      </a>
      </div>
    </div>
    <!-- 3rd box-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="profile-card">
        <a href="/ico">
        <div class="card-header" style="background-image: url('img/ico.png'); background-size: 100%;">
          <div class="overlay">
            <div class="name">Introduction to Computing</div>
        </div>
        </div>
      </a>
        </div>
      </div>
    </div>
    </div>
    
    <!--2nd row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/engineeringchemistry">
              <div class="card-header" style="background-image: url('img/chemistry.png'); background-size: 100%;">
                <div class="overlay">
                  <div class="name">Engineering Chemistry</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/ee1">
            <div class="card-header" style="background-image: url('img/electricalengineering1.png'); background-size: 100%;">
              <div class="overlay">
                <div class="name ml-4 mr-4">Elements of Electrical Engineering I</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/enggphy">
          <div class="card-header" style="background-image: url('img/physics.png'); background-size: 100%;" >
            <div class="overlay">
              <div class="name">Engineering Physics</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>

        <!--3rd row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/ec1">
              <div class="card-header" style="background-image: url('img/ec.png'); background-size: 100%;">
                <div class="overlay">
                  <div class="name ml-4 mr-4">Elements of Electronics Engineering</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/ee2">
            <div class="card-header" style="background-image: url('img/electricalII.png'); background-size: 100%;">
              <div class="overlay">
                <div class="name  ml-4 mr-4">Elements of Electrical Engineering II</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/ed">
          <div class="card-header" style="background-image: url('img/ed.png'); background-size: 100%;">
            <div class="overlay">
              <div class="name  ml-4 mr-4">Engineering Graphics</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>
        <!--4th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/electricalworkshop">
              <div class="card-header" style="background-image: url('img/electricalworkshop.png'); background-size: 100%;">
                <div class="overlay">
                  <div class="name ml-4 mr-4">Electrical Workshop</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/electronicsworkshop">
            <div class="card-header" style="background-image: url('img/electronicsworkshop.png'); background-size: 100%;">
              <div class="overlay">
                <div class="name ml-4 mr-4">Electronics Workshop</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/eaa-sbm">
          <div class="card-header" style="background-image: url('img/sbm.png'); background-size: 100%;" >
            <div class="overlay">
              <div class="name ml-4 mr-4">EAA-Swatch Bharat Mission(SBM)</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>

        <!--5th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/eaa-sports">
          <div class="card-header" style="background-image: url('img/sports.png'); background-size: 100%;">
            <div class="overlay">
              <div class="name ml-4 mr-4">EAA-Sports/Innovative Projects</div>
            </div>
          </div>
      </a>
      </div>
    </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/ssev">
            <div class="card-header" style="background-image: url('img/ssev.png'); background-size: 100%;">
              <div class="overlay">
                <div class="name">Science, Societies and Ethical Values</div>
            </div>
            </div>
          </a>
        </div>
      </div>
    
      <!-- 3rd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/workshoppractice">
          <div class="card-header" style="background-image: url('img/ew.png'); background-size: 100%;">
            <div class="overlay">
              <div class="name">Workshop Practice</div>
            </div>
          </div>
      </a>
      </div>
    </div>
  </div>
</div>
            <!--6th row-->
    <!--1st box-->
    <div class="container-fluid">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="profile-card">
            <a href="/em2">
              <div class="card-header" style="background-image: url('img/engineering-mathematics-2.png'); background-size: 100%;" >
                <div class="overlay">
                  <div class="name">Engineering Mathematics II</div>
              </div>
              </div>
            </a>
          </div>
        </div>
      <!--2nd box-->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/engineeringmechanics">
            <div class="card-header" id ="five" style="background-image: url('img/engineering-mechanics.png'); background-size: 100%;">
              <div class="overlay">
                <div class="name">Engineering Mechanics</div>
            </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="profile-card">
          <a href="/pyq">
          <div class="card-header" style="background-image: url('img/ew.png'); background-size: 100%;">
            <div class="overlay">
              <div class="name">Previous Year Questions</div>
            </div>
          </div>
      </a>
      </div>
    </div>
    
  </div>
</div>
</body>
<%- include("partials/footer") -%>
</html>

