<%- include("partials/header"); -%>
<h1 class="headline-main">Communicative English</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Course-->

        <li>
          <div class="timeline-content">
            <h1>English Handbook</h1>
            <a href="https://drive.google.com/file/d/17P9KrOHoRwKf2Pmpb1zAihg2Rl4KFpfa/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Communication Skills ppt</h1>
            <a href="https://drive.google.com/file/d/17C_ErGZW11ExVc_Ga4-Su7kRDy0uccx6/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Verbal and Non Verbal Communication</h1>
            <a href="https://drive.google.com/file/d/17j6_g7ZXsmiV_RBDpmiSnM_-IavQppbl/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Non Verbal Communication PPT</h1>
            <a href="https://drive.google.com/file/d/17WHf7E2HJ9U-4VarQDA8DrQJqhRDgOy5/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Listening Skill PPT</h1>
            <a href="https://drive.google.com/file/d/17WkyMtZE-oAA9Hzvtj7Q1rFKlrzbZXVv/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Effective Listening PPT</h1>
            <a href="https://drive.google.com/file/d/17O-sS_B4XpOjx4UVqfCifG4AvwMLhruh/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Effective Reading PPT</h1>
            <a href="https://drive.google.com/file/d/17HDRn399lma22AzqTdW-RlxoqwNjMWIe/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Comprehension PPT</h1>
            <a href="https://drive.google.com/file/d/17NOOD0odNxokHl0vbfqL7VshUcsrBgsF/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Precis PPT</h1>
            <a href="https://drive.google.com/file/d/17_ECJNuUDSh4v61Ohcgtp7Xqra5WXVP7/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Sample Precis</h1>
            <a href="https://drive.google.com/file/d/17efkUvT1HmBZ7ar8qRU7TUSK09NaGqOA/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
    
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
