<%- include("partials/header"); -%>
<h1 class="headline-main">EAA-Swatch Bharat Mission(SBM)</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <li>
          <div class="timeline-content">
            <h1>Swaccha Bharat Mission Sample Report</h1>
            <a href="https://docs.google.com/document/d/1yoe7LRr6Ad0vqe_BksFGebvk_LLaR0EEudUv201nsqY/edit?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
          </ul> 
  </div>
</div>
<%- include("partials/footer"); -%>
