<%- include("partials/header"); -%>
<h1 class="headline-main">EAA-Sports/Innovative Projects</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
      
        <li>
          <div class="timeline-content">
            <h1>SAC intro video</h1>
            <a href="https://youtu.be/_QsMwLfPZj4" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Sample Fitness Video 1</h1>
            <a href="https://youtu.be/Jd3xFmrEeFA" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Sample Fitness Video 2</h1>
            <a href="https://youtu.be/ltFXxjGnNFo" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Sample Fitness Video 3</h1>
            <a href="https://youtu.be/4OsZTZ1hhRY" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Sample Fitness Video 4</h1>
            <a href="https://youtu.be/sm9h1UDeSGI" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
  
    </ul>        
  </div>
</div>
<%- include("partials/footer"); -%>
