<%- include("partials/header"); -%>
<h1 class="headline-main">Elements of Electronics Engineering</h1>
<%-include("partials/parallax")-%> 
<div class="container">
    <div class="timeline course">
        <ul>
            <!--Books-->
            <li>
          <div class="timeline-content">
            <h1>Semiconductor Physics Book by Donald Neamen</h1>
            <a href="https://drive.google.com/file/d/15GDgvzMnC2lCUsBy3VvbDbAKigb7oNEs/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>EC Notes I</h1>
            <a href="https://drive.google.com/file/d/15DasZAXKR3Aj2CUfupp1lXlwlTQisF6E/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>EC Notes II</h1>
            <a href="https://drive.google.com/file/d/15Fa6804W9L40kdBHMmIx486Q2t-lNrUn/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>EC ppt Unit 1</h1>
            <a href="https://docs.google.com/presentation/d/15gdy7Zm79SVIs_QJkHO9VT5w6qCilBFu/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>EC ppt Unit 2</h1>
            <a href="https://drive.google.com/file/d/15ikCgEq0oCtFpIOw0wNa3CHScjxtYSFB/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Rectifier and Clipper ppt</h1>
            <a href="https://drive.google.com/file/d/15sAGxqShUyTbboWv7C5TsxrJRofLyjnG/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Full Wave Rectifier PPT</h1>
            <a href="https://docs.google.com/presentation/d/15uLD8ftdA8h3mEMzcsQ6ozhdwAVHdKfV/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Unit 4 Op amp ppt</h1>
            <a href="https://drive.google.com/file/d/16ElS5Qg2YtQ4DDf8JWwaMfn3QJHcDY42/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>EC paper mid sem</h1>
            <a href="https://drive.google.com/file/d/15oAotYaMb0VTg7zXxnvziyBHhW7M0mWD/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Neso Academy YT Channel (recommended)</h1>
            <a href="https://www.youtube.com/c/nesoacademy" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>All about Electronics YT Channel (recommended)</h1>
            <a href="https://www.youtube.com/c/ALLABOUTELECTRONICS" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
          </ul>
    </div>
  </div>
<%- include("partials/footer"); -%>