<%- include("partials/header"); -%>
<h1 class="headline-main">Engineering Graphics</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>]
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Book - ND Bhatt</h1>
          <a href="https://drive.google.com/file/d/1rvgY_79vNXLOUDwrmv0UgNxW9x4qn_cJ/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 1 ppt</h1>
          <a href="https://drive.google.com/file/d/17kL3IDVmgWlAzHFaDV_n-cm08xA_nU8l/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 2 ppt</h1>
          <a href="https://drive.google.com/file/d/17ncNPe9eZGNb3O2aq6tcQ-5mYn3lwhij/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 3 ppt</h1>
          <a href="https://drive.google.com/file/d/17yWuwQRwUmqt63Cac-sDTXXNOGZEUK6g/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 4 ppt</h1>
          <a href="https://drive.google.com/file/d/17s3E9y2fM_tmQ2AyUx9ru3zMPDlGmpSr/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 5 ppt</h1>
          <a href="https://drive.google.com/file/d/185bkv0LyXO5tJiJcVlBmPTUbWLBt0jUy/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 6 ppt</h1>
          <a href="https://drive.google.com/file/d/186AgF69TFqM7HmVglu4VpmUDShStTPPI/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 7 ppt</h1>
          <a href="https://drive.google.com/file/d/188aH7jdmWjj_gN0OtwHXRiN9kZhuzAxT/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Engineering Drawing Lecture 8 ppt</h1>
          <a href="https://drive.google.com/file/d/18M-AiaF3aZc4qeeCoVW4iFLlKZukXu_p/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment I Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1jxPYuB4cUhijAOvIU9yx3Ek1eH2Xe11u/view?usp=sharing"
             target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment I Drawing</h1>
          <a href="https://drive.google.com/file/d/1yf1hgEORZNYRWIYDadhrp0V9NglSU2Zy/view?usp=sharing"  target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 2 Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1EglJF2Yz9PkP5CW6vYF3MQTlan705Oie/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 2 Drawing</h1>
          <a href="https://drive.google.com/file/d/1dyhIThzW_k4OeDYtoOkGvX2g8Zvf4tN8/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 3 Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1kS5LVnaBk2RKu8w2ZnXgP4h7LkRoE7d8/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 3 Drawing</h1>
          <a href="https://drive.google.com/file/d/1Lf14DNhGYngsuLPkMV2Af-kIebdyA1TW/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 4 Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1RPW5nkm0TAHlZ1XkkWgP_tSqMG00QTX-/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 4 Drawing</h1>
          <a href="https://drive.google.com/file/d/1cWL_s8v4JXIgKztSc9dBWeJo847EVHNa/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 5 Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1xrz_aKHpMcsisZLqme0Yah7otpAyCEDG/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 5 Drawing</h1>
          <a href="https://drive.google.com/file/d/19PDeH40RIDeuySlhTj7GIyYe2HAj3H3M/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 6 Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1EZnaoZoClUr6CDk481odKX05I9Kcxlp0/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 6 Drawing</h1>
          <a href="https://drive.google.com/file/d/1Y089nvk6oOuBjnqIv28ibv5XPlnbPJBk/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 7 Problem Statements</h1>
          <a href="https://drive.google.com/file/d/1a2fQvcG-jvG3-MhsVIuuHNVezdHv85UF/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment 7 Drawing</h1>
          <a href="https://drive.google.com/file/d/1uRcXmzlS342MId92ochZSPiYwerUxHqp/view?usp=sharing"
            target="_blank"><p>Click Here</p></a
          >
        </div>
      </li>
      
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
