<%- include("partials/header"); -%>
<h1 class="headline-main">Elements of Electrical Engineering II</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <li>
          <div class="timeline-content">
            <h1>Electrical Engg Book DP Kothari</h1>
            <a href="https://drive.google.com/file/d/11kfBnNYZ3LU9sYo_PTUJPVJ0WFPhDiwl/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Electrical Technology Book</h1>
            <a href="https://drive.google.com/file/d/16LJqxGAZgM24jUJvHxh4DG1iC0Iuw7jP/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Electrical Engg. Book VK Mehta</h1>
            <a href="https://drive.google.com/file/d/16MopcCSmhOGDj2zJaede-2z41eqkPFsH/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Electrical Machines Asfaq Hussain </h1>
            <a href="https://drive.google.com/file/d/16LJqxGAZgM24jUJvHxh4DG1iC0Iuw7jP/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Electrical Notes</h1>
            <a href="https://drive.google.com/file/d/16QqWa3S8LqRNSJG4OBuhEzX2NAYoQM4A/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EE class notes unit 1</h1>
            <a href="https://drive.google.com/file/d/16PhXiDZVX4cy8lCN8FQnxlXWMaYj-MaZ/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Electrical Short Notes</h1>
            <a href="https://drive.google.com/file/d/16S_n9Shl5ZGDLtptAAvQ_r43BYGn8Lh5/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Gate Academy Plus YT Channel</h1>
            <a href="https://www.youtube.com/channel/UCZ9_mhxSMyVtfPZOkb1PgTA target="_blank"><p>Click Here</p></a>
          </div>
        </li>
          </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
