<%- include("partials/header"); -%>
<h1 class="headline-main">Electrical Workshop</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Blogs-->
        <li>
          <div class="timeline-content">
            <h1>EEL Lab Report File</h1>
            <a href="https://drive.google.com/file/d/1yO__ZYKCKBojju-FmR6JObBOfyrjRK6F/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
    </ul>        
  </div>
</div>
<%- include("partials/footer"); -%>
