<%- include("partials/header"); -%>
<h1 class="headline-main">Electronics Workshop</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <li>
          <div class="timeline-content">
            <h1>ECL Assignment 1</h1>
            <a href="https://drive.google.com/file/d/1gr9sjDuj-_n_6SUaM-q7g1t35XM_eVhj/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>ECL Assignment 2</h1>
            <a href="https://drive.google.com/file/d/1KThX0NnBLakA9-l75wqwu-Bo9nIr8YLw/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>ECL Assignment 3</h1>
            <a href="https://drive.google.com/file/d/1R71KbDRtNjWOTDlBbq01DrjZsVljlqgZ/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
      </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
