<%- include("partials/header"); -%>
<h1 class="headline-main">Engineering Mathematics II</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
    <li>
          <div class="timeline-content">
            <h1>Engineering Mathematics BS Grewal Book</h1>
            <a href="https://drive.google.com/file/d/1izo2y516LG7Yiq9fIcSL9HeIHBuzLcvV/view" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
          <li>
            <div class="timeline-content">
              <h1>Bhagwan Singh Vishwakarma YT Channel  For Engg Maths</h1>
              <a href="https://www.youtube.com/c/BhagwanSinghVishwakarma"  target="_blank"><p>Click Here</p></a>
            </div>
          </li>
         <li>
         <div class="timeline-content">
          <h1>Vikas Goyal YT Channel For Engg Maths</h1>
          <a href="https://www.youtube.com/c/MathComMentors" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
