<%- include("partials/header"); -%>
<h1 class="headline-main">Engineering Physics</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
    
        <!--Videos-->
       
        <li>
          <div class="timeline-content">
            <h1>Optics Book by Ajoy Ghatak</h1>
            <a href="https://drive.google.com/file/d/18UnSy2S0UhO6I8Mx9S85CGqQyk2Jcolo/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Electricity and Magnetism Book Beanly</h1>
            <a href="https://drive.google.com/file/d/18kevid5anAX-limYnqLVK5KgCSOsn5e9/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Engg Physics by HK malik</h1>
            <a href="https://drive.google.com/file/d/19BFbLiWp1IbkrnbxMPlvWl-Us0c8CtbF/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Diffraction PPT</h1>
            <a href="https://drive.google.com/file/d/19DLijuFDcYlGqxd1TZoOsOPJGu7HEVeE/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Polarization PPT I</h1>
            <a href="https://drive.google.com/file/d/19LU_IdH-De8xvygCLh7NLDdOcZpji1LB/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Polarization PPT II</h1>
            <a href="https://drive.google.com/file/d/19LU_IdH-De8xvygCLh7NLDdOcZpji1LB/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Double Slit, grating pdf</h1>
            <a href="https://drive.google.com/file/d/196hfwYtDAghsFQMpftEwrz4Y49u9K2_f/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Electrostatics PPT</h1>
            <a href="https://drive.google.com/file/d/1985olB1mSNf4VzF8DiXP8LgTm8hOw6cu/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Polarization PPT II</h1>
            <a href="https://drive.google.com/file/d/19LU_IdH-De8xvygCLh7NLDdOcZpji1LB/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Magnetic Materials</h1>
            <a href="https://drive.google.com/file/d/18hZdO5bji4du1qKIt0R47Nifl5xGdTUU/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Dielectric</h1>
            <a href="https://drive.google.com/file/d/18sByCsNvs1Tn6kA46ZqmeGmcIzYGJ3kl/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        
        <li>
          <div class="timeline-content">
            <h1>Crystal Structure</h1>
            <a href="https://drive.google.com/file/d/18pOIirl9RQr9men_--fgfWaThwuD_ZxG/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Polarisation Complete notes</h1>
            <a href="https://drive.google.com/file/d/1AeUIUsrMWpINiW696iDIeHfXMQqor7qD/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Optics notes</h1>
            <a href="https://drive.google.com/file/d/1mJkK4ylX2_e_JUh_5k6lQHmOW6H1SOgO/view?usp=sharing"  target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EMT notes 1</h1>
            <a href="https://drive.google.com/file/d/1PuVhgBAOG3yEaY8_terzzWY_9ucQRNTz/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EMT notes 2</h1>
            <a href="https://drive.google.com/file/d/1Chs9TR3L0Rsfm4XaFqHXqGs76kRD31gx/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EMT Notes 3</h1>
            <a href="https://drive.google.com/file/d/1hOErdHSKS41x6_6AKCGtYZhQo3atQ-Iu/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EMT Notes 4</h1>
            <a href="https://drive.google.com/file/d/1XoMzxnTwA38n-AZ0lcqcpWYf3cJPi9Lt/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EMT Notes 5</h1>
            <a href="https://drive.google.com/file/d/149bHE1KlHYdukHqeqHqUqHl8gRNK9vQp/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>EMT Questions</h1>
            <a href="https://drive.google.com/file/d/1N4cCHg9HNXbiMauSZ7FGQUMMZzE8sjgf/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Laser Notes</h1>
            <a href="https://drive.google.com/file/d/1wATEvQ7n1oI2QLq5qdFK3FPq2NubDN3Z/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Laser Notes</h1>
            <a href="https://drive.google.com/file/d/1wATEvQ7n1oI2QLq5qdFK3FPq2NubDN3Z/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Theory of Relativity Notes</h1>
            <a href="https://drive.google.com/file/d/1psTjahKSQw1a2R4K-RSsY4W2cyytcS88/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Quantum Mechanics Notes</h1>
            <a href="https://drive.google.com/file/d/18Kzz6TgRevk-bncq6W9BQ1njFFTjBfca/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>


        
        
        
       
  
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
