<%- include("partials/header"); -%>
<h1 class="headline-main">Engineering Mechanics</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Videos-->
         <li>
          <div class="timeline-content">
            <h1>Engineering Mechanics Contents</h1>
            <a href="https://docs.google.com/presentation/d/1pAkY4D1Wt8e3DpwhR3DtfJotn6T_mnO_/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Engineering Mechanics Book Irving H shames</h1>
            <a href="https://drive.google.com/file/d/1r21AGTo9RvF5lC-N7GrFRfb_2YAwcCRQ/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Beer & Johnson Vector Mechanics Book</h1>
            <a href="https://drive.google.com/file/d/1bsU2M7tkWk6hxO436mByQf4lxcdriMUC/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Vector Mechanics Introduction ppt</h1>
            <a href="https://docs.google.com/presentation/d/18Nt3MHmH1MBsb9oFoNToWM7EwHcCP76b/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Statics of Particles</h1>
            <a href="https://docs.google.com/presentation/d/1HPj24686o64T0FlQpPvuGQHaO7vScSYK/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Kinematics of Particles ppt</h1>
            <a href="https://docs.google.com/presentation/d/1lBfPcCZU1SYFz-v0PRtmAALzDSMO-nKH/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Rigid Bodies ppt</h1>
            <a href="https://docs.google.com/presentation/d/1lBfPcCZU1SYFz-v0PRtmAALzDSMO-nKH/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Elasticity of Particles</h1>
            <a href="https://docs.google.com/presentation/d/13jq1nvXc-ZSPs2iv3N03XVP_DQSTI0HD/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Structure Beams</h1>
            <a href="https://docs.google.com/presentation/d/1h-JpSpy78dJuvBKUHP1K74zm41-8tY5l/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Dynamics PPT</h1>
            <a href="https://drive.google.com/file/d/17RAgG2RZsUcDq34wJxGNYE0qdgOJP0Tu/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Plane Motion of Rigid Bodies PPT</h1>
            <a href="https://drive.google.com/file/d/1vCq6W4_BWGAqMHwSca0X9pRdvEOXJ68T/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Engineering Mechanics L-8</h1>
            <a href="https://docs.google.com/presentation/d/1zi5w88y3KVgeKZj8rc7kxToCBpIYxeKQ/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
    
        
    
    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
