<%- include("partials/header"); -%>
<h1 class="headline-main">Engineering Chemistry</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Courses-->
        <li>
          <div class="timeline-content">
            <h1>Engineering Chemistry Book Jain & Jain</h1>
            <a href="https://drive.google.com/file/d/11Q6V_RA6E5-igEwl6D0wrhEQ-VBEOta2/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Chemical Bonding PPT</h1>
            <a href="https://drive.google.com/file/d/127UN5X9k0aZfO4C-NeUXAX6sDQ1Ke7Y4/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Chemical Bonding Notes</h1>
            <a href="https://drive.google.com/file/d/11awY9755RTImNKyGDkp206FPFdcJqQ4X/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Polymers Presentation</h1>
            <a href="https://drive.google.com/file/d/11p2DbmJQOWyFEbOcBM-4EBOgBz3Wvzc2/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
    
        <!--Books-->
    
        <li>
          <div class="timeline-content">
            <h1>Band Theory of Metals PPT</h1>
            <a href="https://drive.google.com/file/d/11_-v8mBwUGs3K4Suuu9wpE273oXeNt06/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Fuel PPT - I</h1>
            <a href="https://docs.google.com/presentation/d/12HRB5wkx-r4K7t4U1IBGh7vBi3LVMRBy/edit?usp=sharing&ouid=108892843718444358185&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Fuel & Fuel Cell PPT</h1>
            <a href="https://drive.google.com/file/d/11LQ_Kb4aa-hn1qN0PijaQu7Z6Y4diYdJ/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Fuel & Bio Fuel PPT</h1>
            <a href="https://docs.google.com/presentation/d/11XMumQ2rrF5_ItG7qTeWdMnUdyQReqAy/edit?usp=sharing&ouid=108892843718444358185&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Ceramics Notes</h1>
            <a href="https://drive.google.com/file/d/11izz2zyuZLVTTu1YDTqrJCvUihaSDC8e/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Ceramics and Refractive materials PPT</h1>
            <a href="https://docs.google.com/presentation/d/125LTkB-_EoBHb2QCKs-cK3jfJ7mA5GyR/edit?usp=sharing&ouid=108892843718444358185&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
    
    
        <!--Podcasts-->
    
        <li>
          <div class="timeline-content">
            <h1>Glass PPT</h1>
            <a href="https://docs.google.com/presentation/d/11gXb5YpD3RD88DdAmMX8bgwGKxH-w7t2/edit?usp=sharing&ouid=108892843718444358185&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Glass Notes</h1>
            <a href="https://drive.google.com/file/d/11uzUaQwI6ooCpEBnZ2DHKy8WiTLTSjl1/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Spectroscopy PPT</h1>
            <a href="https://drive.google.com/file/d/11adbHb6dGtnUztE_JeyCaU1U3wLIQkf1/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
  </div>
</div>
<%- include("partials/footer"); -%>
