<%- include("partials/header"); -%>
<h1 class="headline-main">Introduction to Computing</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
      <!--online courses-->
      <li>
        <div class="timeline-content">
          <h1>Introduction to Computing Resources</h1>
          <a href="https://docs.google.com/document/d/13bKECpSEhIwB7MghMxqbLpJu5R57YBuP/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Let us C book</h1>
          <a href="https://drive.google.com/file/d/13mlbifrS0yZqO1SBanG3cOw5LGC2LMEl/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Programming in Ansi C book</h1>
          <a href="https://drive.google.com/file/d/142h2V-s5yHTy9ZvqOGualJTRGjBSopEi/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      
      <li>
        <div class="timeline-content">
          <h1>Introduction to Computing all PPTs Merged</h1>
          <a href="https://drive.google.com/file/d/13VKm8gL93vTImvT3Dr7FqknYoX5UHIdD/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Computer fundamentals ppt</h1>
          <a href="https://drive.google.com/file/d/13hbfCaGn86zBViMpsAf2tXKhIUBiYZ8j/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Computer Architecture ppt</h1>
          <a href="https://drive.google.com/file/d/13l3wWKGnd6cGxxPUe-KYZ2-c_N166iJo/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      
      <li>
        <div class="timeline-content">
          <h1>Internet basics ppt</h1>
          <a href="https://drive.google.com/file/d/13pUEl_KIqdtN6AJJ8MXtKcVyk7l8Rfdq/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Computer basics ppt</h1>
          <a href="https://drive.google.com/file/d/147VjsN0W3bO9W6myDm0dH74AeKqDBiD4/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Computers and problem solving ppt</h1>
          <a href="https://drive.google.com/file/d/13xKwvRzfnrOnauGwLSABvFyb8PAua6yn/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      
      <li>
        <div class="timeline-content">
          <h1>Introduction to programming algorithms ans flows ppt</h1>
          <a href="https://drive.google.com/file/d/149V7u0gK6XXaBVyn8PUSXukQpkaoQgm3/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Basics of C ppt</h1>
          <a href="https://drive.google.com/file/d/14QjVjTm7vJV3IH1bFpAW4-GpC7JUcAfh/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>

      <li>
        <div class="timeline-content">
          <h1>Control Statements ppt</h1>
          <a href="https://drive.google.com/file/d/14vKvXKNAWwszgQSAx1_nJ4LH5oFdEWQ6/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      
      <li>
        <div class="timeline-content">
          <h1>Array and Strings ppt</h1>
          <a href="https://drive.google.com/file/d/14sGp1UIHABAmRp3ZOjvrRiuffVDnr7dd/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Functions in C ppt</h1>
          <a href="https://drive.google.com/file/d/153ST-UuyGFB9kUD4ueoIVmBKyC1MNrRl/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Pointers in C</h1>
          <a href="https://drive.google.com/file/d/15Aqu2zNopHmGFoww5RTUXN6acm2TBbU6/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Structure in C</h1>
          <a href="https://drive.google.com/file/d/15BpCOlfv8CxQUB3-RdR7w3KH8vCIU4UG/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>C programs with solutions</h1>
          <a href="https://drive.google.com/file/d/13KXOchftdAeX9-zSX6Fk43Nuzy2ZoIHN/view?usp=sharing" target="_blank"><p>Click Here</p></a>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Assignment and Lab problems and Solutions</h1>
          <a href="https://github.com/pratik8696/Assignment" target="_blank"><p>Click Here</p></a>
        </div>
      </li>


    </ul>
  </div>
</div>
<%- include("partials/footer"); -%>
