<%- include("partials/header"); -%>
<h1 class="headline-main">Physics Lab</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
    
        <li>
          <div class="timeline-content">
            <h1>PHL Potentiometer Experiment</h1>
            <a href="https://drive.google.com/file/d/1iu7GCL6L0gj2i2LExCvBmSB2hH8Cw9kI/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>PHL Katers Pendulum Experiment</h1>
            <a href="https://drive.google.com/file/d/1NYU41ClGWOAlYxCfqgoiidn-s1ByN-Fq/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>PHL Young Modulus Experiment</h1>
            <a href="https://drive.google.com/file/d/1ridGLIiMhzg_0bsAzsS1Y1fc5QoAcrJ8/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>PHL joule's Calorimeter Experiment</h1>
            <a href="https://drive.google.com/file/d/1qZM7OxlNsMPte65hSybqaDIdwl9-ZpUI/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>PHL Melde's Experiment</h1>
            <a href="https://drive.google.com/file/d/1VykRn_MY9NIOofRhMWwWaVtxGhV7V5rn/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>PHL 4 Probe Experiment</h1>
            <a href="https://drive.google.com/file/d/1esHUS6S2l2VDYT0uAL1z31D4_Y8HOMqA/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
    
        
    
    </ul>  
  </div>
</div>
<%- include("partials/footer"); -%>