<%- include("partials/header"); -%>
<h1 class="headline-main">Science, Societies and Ethical Values</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
        <!--Books-->
        <li>
          <div class="timeline-content">
            <h1>SSEV Syllabus</h1>
            <a href="https://docs.google.com/document/d/17AO8KHQCgT9mKxBSJeaJQdur1DpZuLdP/edit?usp=sharing&ouid=117438910856876788541&rtpof=true&sd=true" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
         <li>
          <div class="timeline-content">
            <h1>Engineering Ethics</h1>
            <a href="https://drive.google.com/file/d/16fN21mRTSUVU9QLrwtrESbO3kEEztBkZ/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
         <li>
          <div class="timeline-content">
            <h1>Lecture I Ppt</h1>
            <a href="https://drive.google.com/file/d/16luIL0T339aPPwmyxAkNllP9RURdf2O9/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 2 Ppt</h1>
            <a href="https://drive.google.com/file/d/16impKtYsGC1IWXzkWiwcC9MxAPEk2ptG/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 3 Ppt</h1>
            <a href="https://drive.google.com/file/d/16ojQcDqyhBKVXXo7C9FP0gPNRKooDYXw/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 4 Ppt</h1>
            <a href="https://drive.google.com/file/d/175ACh2MiJuDdfqJVGA9eo5Hgvk0iYeOQ/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 5 Ppt</h1>
            <a href="https://drive.google.com/file/d/16xV6A00h55TJRlThg6Ar0ncXW9DWPuWd/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 6 Ppt</h1>
            <a href="https://drive.google.com/file/d/16qtDAzJakNsgmusA_dScaZsx17JCNZgB/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 7 Ppt</h1>
            <a href="https://drive.google.com/file/d/16qtDAzJakNsgmusA_dScaZsx17JCNZgB/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Lecture 8 Ppt</h1>
            <a href="https://drive.google.com/file/d/16xyjmHpCLgRSTX3v8I5sikg2cQsyEPn1/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
         <li>
          <div class="timeline-content">
            <h1>Engineering Ethics Summary</h1>
            <a href="https://drive.google.com/file/d/16sqk-3G22SpDI7cXbJlR4jrlLRHeghtl/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Engineering Ethics Class Notes</h1>
            <a href="https://drive.google.com/file/d/16iWvlL_IY63GMekDF8ISfp0w1-sd3Rma/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Engineering Ethics Notes</h1>
            <a href="https://drive.google.com/file/d/16SwGSMFkqKKqroCBb_ifqDn2eGhdafsT/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Engineering GATE notes</h1>
            <a href="https://drive.google.com/file/d/16cA9CKsvmelNe7Q5w8NORlH9NSiiTQH-/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
         
    </ul>        
  </div>
</div>
<%- include("partials/footer"); -%>
