<%- include("partials/header"); -%>
<h1 class="headline-main">Workshop Practice</h1>
<%-include("partials/parallax")-%>
<div class="container">
  <div class="timeline course">
    <ul>
    
        <li>
          <div class="timeline-content">
            <h1>Carpentry Shop Lab Report</h1>
            <a href="https://drive.google.com/file/d/12J1Jq7o9omzGWatYWMHRI-1kV5p1qfx2/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Fitting Shop Lab Report</h1>
            <a href="https://drive.google.com/file/d/1f_DxH88NUKcWkhxtg95fU_RClx0iFVBU/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>BlackSmithy Shop Lab Report</h1>
            <a href="https://drive.google.com/file/d/1hs7nljGCbVeAhNR2o8FQMn7BwPt_MYrR/view?usp=sharing" target="_blank"><p>Click Here</p></a>
          </div>
        </li>
    
        
    
    </ul>
    
  </div>
</div>
<%- include("partials/footer"); -%>
